@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/grid";
@import "bourbon/bourbon";
@import "slick";
@import "custom-variables";
/*
@import "CSS:css/jquery-ui"; */

/* Common css */
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px;
}
.row .center-block {
	padding-left:15px;
	padding-right:15px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.fL { float:left; }
.fR { float:right; }
.text-center { text-align:center; }
.text-right { text-align:right; }
.text-left { text-align:left; }
.text-uppercase { text-transform:uppercase; }
a, a:focus, input:focus, textarea:focus, select:focus { outline:none; text-decoration:none;}
img { max-width:100%; vertical-align:middle;}
figure {margin:0;}
dl, dt, dd {margin:0;}
blockquote, ul, li, ol, h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
li { list-style:none; }
textarea { resize: none; }
input[type="text"], input[type="password"], textarea { border-radius: 0; @extend .appear; }
.container { width: 1050px; }

/* Basic setup */
html { background-color: $red; }
body { background-color: $white; color: $dgrey; font: 400 14px/24px $font; opacity: 0; padding-top: 115px; }
.coverBG { background-size: cover; background-repeat: no-repeat; }
h1 { color: $red; font: 900 36px/46px $font; padding-bottom: 25px; }
h2 { color: $red; font: 900 24px/32px $font; padding-bottom: 25px; }
h3 { color: $red; font: 700 14px/24px $font; padding-bottom: 15px; }
h4 { color: $red; font: 700 12px/20px $font; padding-bottom: 15px; }
h5 { color: $red; font: 700 10px/18px $font; padding-bottom: 15px; }
h6 { color: $red; font: 700 8px/18px $font; padding-bottom: 10px; }
p { padding-bottom: 25px; }
a { color: $dgrey; @extend .transitionRegular; 
  &:hover { color: $red; }
}
::-moz-selection { color: $white; background: $red; }
::selection { color: $white; background: $red; }

/* Animate */
.animated { opacity: 0; @include animation-fill-mode(both); }
.fadeInUp { @include animation-name(fadeInUp); @include animation-delay(0.05s); @include animation-duration(0.25s); }

@keyframes upShow {
  0% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  1% {
    opacity: 1;
    @include transform(scale(1.1));
    font-size: 18px;
    font-weight: 700;
  }
  11.5% {
    opacity: 1;
    @include transform(scale(1.1));
    font-size: 18px;
    font-weight: 700;
  }
  12.5% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  25% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  37.5% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  50% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  62.5% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  75% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  87.5% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
  100% {
    opacity: 0.5;
    @include transform(scale(1));
    font-size: 14px;
    font-weight: 400;
  }
}
@-webkit-keyframes fadeInUp {
0% {
  opacity: 0;
  @include transform(translateY(30px));
}
100% {
  opacity: 1;
  @include transform(translateY(0));
}
}
@keyframes fadeInUp {
0% {
  opacity: 0;
  @include transform(translateY(30px));
}
100% {
  opacity: 1;
  @include transform(translateY(0));
}
}

/* Homepage */
.widerContainer { margin: 0 auto; width: auto; }
.mobileMenu { display: none; }
#nav-icon {
    cursor: pointer;
    height: 25px;
    opacity: 1;
    position: relative;
    transition: .5s ease-in-out;
    top: 10px;
    visibility: visible;
    width: 25px;
    z-index: 10;
}
#mobile-icon {
    display: none;
    cursor: pointer;
    height: 25px;
    opacity: 1;
    left: 20px;
    position: absolute;
    transition: .5s ease-in-out;
    top: calc(50% + 22px);
    visibility: visible;
    width: 25px;
    z-index: 30;
    transform: translateY(-50%);
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
}
#nav-icon span, #mobile-icon span {
    background: #ef1d25;
    display: block;
    height: 4px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 100%;
}
#nav-icon span:nth-child(1), #mobile-icon span:nth-child(1) {
    top: 0px
}
#nav-icon span:nth-child(2), #nav-icon span:nth-child(3), #mobile-icon span:nth-child(2), #mobile-icon span:nth-child(3) {
    top: 9px
}
#nav-icon span:nth-child(4), #mobile-icon span:nth-child(4) {
    top: 18px
}
#nav-icon.active span:nth-child(1), #mobile-icon.active span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%
}
#nav-icon.active span:nth-child(2), #mobile-icon.active span:nth-child(2) {
    transform: rotate(45deg)
}
#nav-icon.active span:nth-child(3), #mobile-icon.active span:nth-child(3) {
    transform: rotate(-45deg)
}
#nav-icon.active span:nth-child(4), #mobile-icon.active span:nth-child(4) {
    top: 15px;
    width: 0%;
    left: 50%
}
header { background-color: $white; left: 0; padding: 0; position: fixed; top: 0; width: 100%; z-index: 21;
  > .container { padding: 10px 15px; }
}
nav {
  ul {
    li { display: inline-block; padding: 0 29px;
      a { display: inline-block; font-size: 13px; font-weight: 700; text-transform: uppercase; 
        &.active { color: $red; }
      }
    }
  }
}
.clearRelative { padding-top: 5px; position: relative; }
.subMenu { backface-visibility: hidden; -wbkit-backface-visibility: hidden; opacity: 0; right: 25px; position: absolute; top: calc(100% + 23px); visibility: hidden; z-index: 3; @include transform(translateY(20px)); @extend .transitionRegular; 
  &.active { opacity: 1; visibility: visible; @include transform(translateY(0)); }
  ul { background-color: rgba(255,255,255,0.9);
    > li {
      &.active{
        > a { background-color: $red; color: $white; }
      }
      a { display: block; font-weight: 700; padding: 25px 15px; text-align: center; white-space: nowrap; 
        &:hover { background-color: $red; color: $white; }
      }
      > ul { backface-visibility: hidden; -wbkit-backface-visibility: hidden; bottom: 0; opacity: 0; left: 0; position: absolute; visibility: hidden; @include transform(translate(-100%, 20px)); @extend .transitionRegular; 
        &.active { opacity: 1; visibility: visible; @include transform(translate(-100%, 0)); }
      }
    }
  }
}
.sliderHome {
  .slick-dots { position: absolute; bottom: 30px; left: 0; width: 100%; text-align: center; z-index: 3;
    li { display: inline-block; margin-left: 15px; height: 15px; position: relative;
      &.slick-active {
        button { background: rgba(255,255,255,1); }
      }
      button { background: rgba(255,255,255,0.5); border: none; border-radius: 100%; display: block; height: 10px; line-height: 0; margin: 0; outline: none; padding: 0; width: 10px; text-indent: -9999px; @extend .appear; }
     }
  }
  .coverBG { height: calc(100vh + 110px); min-height: 400px; padding-bottom: 250px;
    .flexCover { height: 100%; @include display(flex); @include align-items(center); @include justify-content(center);
      .container { padding-top: 250px;
        > div { opacity: 0; @include transform(translateY(20px)); transition: all 0.3s linear 0.7s; }
      }
      span { color: $white; display: block; font-size: 36px; font-weight: 900; line-height: 46px; padding-bottom: 25px; width: 500px; }
    }
  }
  .slick-slide {
    &.slick-active {
      .coverBG {
        .flexCover {
          .container {
            > div { opacity: 1; @include transform(translateY(0)); }
          }
        }
      }
    }
  }
}
.btn { display: inline-block; min-width: 180px; outline: none; padding: 10px; font-weight: 700; text-align: center; text-transform: uppercase;
  &.glassy { background-color: transparent; border: 2px solid $white; color: $white;
    &.imgbtn {
      &:hover { background-color: $white; border-color: $white; color: $red; }
    }
    &:hover { background-color: $red; border-color: $red; }
  }
  &.secondary { background-color: $red; border: 2px solid $red; color: $white; 
    &:hover { background-color: $white; color: $red; }
  }
}
.secondLayer { padding: 60px 0 310px; position: relative; text-align: right; z-index: 7;
  &:before { background: url('../images/sliding.png') no-repeat top right; background-size: cover; content: ''; height: calc(100% + 270px); left: 0; position: absolute; top: -270px; width: 100%; z-index: -1; }
  /*
  &:before { background: url('../images/topBorder.png') no-repeat center bottom; content: ''; height: 255px; left: 0; position: absolute; top: -255px; width: 100%; z-index: 3; } */
  .insectPart { display: inline-block; width: 500px; }
  h1 { color: $white; display: inline-block; width: 90%; }
  ul { padding-bottom: 40px;
    li { color: $white; display: inline-block; padding-right: 25px; position: relative;
      &:before { background-color: $white; border-radius: 100%; content: ''; display: inline-block; height: 7px; top: 8px; position: absolute; right: 0; width: 7px; }
    }
  }
}
.thirdLayer { background-color: #efefef; padding-top: 40px; position: relative; z-index: 9;
  &:before { background: url('../images/topSliding.png') no-repeat top right; background-size: cover; content: ''; height: 317px; left: 0; position: absolute; top: -317px; width: 100%; }
  /*
  &:before { background-color: #efefef; content: ''; height: 300px; left: 0; position: absolute; top: -300px; width: 100%; @include transform-origin(left); @include transform(rotate(45deg)); z-index: 8; } */
  > .container {
    > h2 { color: #ef1d25; font-size: 36px; font-weight: 700; line-height: 42px; }
  }
}
.redProduct { background-color: #610001; padding: 60px 0 30px; }
.productMaper { @include display(flex); @include flex-wrap(wrap); 
  > div { padding: 0 5px 20px; text-align: center; width: 25%; }
}
.productMap { display: none; padding: 0 130px;
  .slick-arrow { color: rgba(255,255,255,1); display: inline-block; font-size: 90px; line-height: 30px;  position: absolute; top: 50%; z-index: 2; @include transform(translateY(-50%)); @extend .transitionRegular;
    &:hover { color: rgba(255,255,255,0.7); }
    &.slick-prev { left: 15px; }
    &.slick-next { right: 15px; }
  }
  .slick-slide { text-align: center;
    img { margin: 0 auto; }
  }
}
.productTub { display: inline-block;
  &:hover {
    > div {
      > div { opacity: 1; }
    }
  }
  > div { position: relative; 
    > div { background-color: rgba(237, 28, 36, 0.85); align-items: center; display: flex; height: calc(100% - 8px); justify-content: center; left: 4px; opacity: 0; position: absolute; top: 4px; width: calc(100% - 8px); z-index: 3; @extend .transitionRegular;
      span { border: 2px solid $white; color: $white; display: inline-block; padding: 5px 10px; text-align: center; text-transform: uppercase; }
    }
  }
  img { border: 4px solid $white; }
  > span { color: $white; display: block; font-weight: 700; padding: 5px 10px; text-align: center; }
}
.slideProduct {
  > div { background-color: #efefef; display: none; padding: 50px 0;
    .container { position: relative; }
    .closeProduct { color: #610001; display: inline-block; font-size: 20px; position: absolute; right: 15px; top: 0; 
      &:hover { color: $dgrey; }
    }
    h2 { color: $maroon; padding-bottom: 5px; }
    ul { padding-bottom: 25px;
      li { list-style: disc; list-style-position: inside; }
    }
  }
}
.fourthLayer { padding: 60px 0 10px;
  h2 { color: $red; font-size: 36px; line-height: 42px; padding-bottom: 10px; }
  .rightMove { padding-bottom: 30px; text-align: right; 
    > div { display: inline-block; width: 500px; }
  }
}
.flexIcon { @include display(flex); @include justify-content(center); @include flex-wrap(wrap); @include flex-direction(row);
  > div { padding: 0 15px 40px; text-align: center; width: 33.33%;
    &:nth-child(2) { > div { @include animation-delay(3.75s); } }
    &:nth-child(3) { > div { @include animation-delay(7.5s); } }
    &:nth-child(4) { > div { @include animation-delay(11.25s); } } 
    &:nth-child(5) { > div { @include animation-delay(15s); } }
    &:nth-child(6) { > div { @include animation-delay(18.75s); } } 
    &:nth-child(7) { > div { @include animation-delay(22.5s); } }
    &:nth-child(8) { > div { @include animation-delay(26.25s); } }
    > div { display: inline-block; opacity: 0.5; @include transform(scale(1.1)); @include animation(upShow 30s linear 0s infinite);
      span { display: block; padding-top: 5px; }
    }
  }
}
.flexSliderm { display: none;
  .slick-slide {
    > div { padding: 0 7px; text-align: center; 
      img { margin: 0 auto; }
      span { display: block; padding-top: 5px; }
    }
  }
}
.fifthLayer { background-color: #efefef; padding: 40px 0 0;
  h2 { font-size: 36px; line-height: 42px; padding-bottom: 35px; }
}
.sixthLayer { padding: 30px 0;
  h2 { padding-bottom: 10px; }
  p, a { font-weight: 700; }
}
.mailTo { display: inline-block; padding-bottom: 15px;
  small { color: $red; font-size: 100%; }
}
.callTo { display: block;
  i { padding-right: 10px; }
}
.socialList {
  li { display: inline-block; padding: 0 10px;
    a { font-size: 20px; }
  }
}
footer { background-color: $red; padding: 40px 0; }
.flexfooter {
  > div {
    p { color: $white; 
      a { color: $white; 
        &:hover { color: $red; }
      }
      img { margin-right: 5px; }
    }
    ul {
      li { display: inline-block; padding: 0 10px; position: relative;
        &:before { background-color: $maroon; content: ''; left: 0; height: 15px; position: absolute; top: 4px; width: 2px; }
        &:first-child {
          &:before { display: none; }
        }
        a { color: $maroon; font-weight: 700; 
          &:hover { color: $white; }
        }
      }
    }
  }
}
#mapkit-8592 { height:400px; width: 100%; }
.subpage { background-color: #efefef; padding: 50px 0 40px; 
  &.removeBottom { padding-bottom: 0; }
  h2 { padding-bottom: 30px; text-align: left; }
}
.productTiles { @include display(flex); @include flex-wrap(wrap);
  > div { padding: 0 5px 15px; text-align: center; width: 25%;
    .productTub {
      &:hover {
        > span { color: $dgrey; }
      }
      img { border: 4px solid #555; }
      > span { color: $red; }
    }
  }
}
.productOne { @include display(flex); @include flex-wrap(wrap); padding-bottom: 40px;
  > div {
    &:first-child { width: 400px; }
    &:last-child { padding-left: 30px; width: calc(100% - 400px); 
      h2 { padding-bottom: 25px; text-align: left; }
      ul { padding-bottom: 25px;
        li { list-style: disc; list-style-position: inside; }
      }
    }
  }
}
.slider-for { padding-bottom: 15px; 
  img { margin: 0 auto; width: 100%; }
}
.slider-nav {
  .slick-list { padding: 0 !important; 
    .slick-slide { padding: 0 10px; 
      &.slick-current  {
        img { border-color: $red; }
      }
      img { border: 2px solid transparent; @extend .transitionRegular; }
    }
  }
}
.listStyle {
  ul { padding-bottom: 25px;
    li { list-style: disc; list-style-position: inside; }
  }
}
.gallary {
  .slick-arrow { color: $red; display: inline-block; font-size: 30px; line-height: 52px; position: absolute; text-align: center; top: 50%; z-index: 2; @include transform(translateY(-50%)); @extend .transitionRegular;
    &:hover { color: $white; }
    &.slick-prev { left: 15px; }
    &.slick-next { right: 15px; }
  }
}
.gallaryOne {
  img { margin: 0 auto 25px; }
  h2 { padding-bottom: 15px; }
}
.gallary-nav {
  .slick-slide { padding: 0 5px; 
    img { border: 2px solid transparent; @extend .transitionRegular; }
    &.slick-current {
      img { border-color: $red; }
    }
  }
}
.filterSliding { overflow-x: auto; padding-bottom: 25px;
  &::-webkit-scrollbar { display: none; }
  ul {
    li { cursor: pointer; display: inline-block; font-size: 16px; font-weight: 700; line-height: 26px; margin: 0 -2px; padding: 5px 15px; text-align: center; @extend .transitionRegular;
      &.active { background-color: $white; color: $red; font-weight: 700; }
    }
  }
}
.popForm { background-color: rgba(255,255,255,0.9); @include display(flex); @include align-items(center); @include justify-content(center); height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 35; 
  > div { background-color: $white; border: 1px solid $red; padding: 30px; position: relative; width: 400px; }
}
.inputLife { padding-bottom: 20px; }
.txtSingle { background-color: #efefef; border: 1px solid #efefef; outline: none; padding: 10px 15px; width: 100%; @extend .transitionRegular;
  &:focus { background-color: $white; border-color: $red; color: #333; }
}
.formFill { margin: 0 auto; width: 500px;
  .txtSingle { background-color: $white; }
}
.closePop { display: inline-block; height: 30px; position: absolute; right: 15px; top: 15px; width: 20px;
  &:before, &:after {
    content: "";
    border-style: solid;
    border-color: #ccc;
    height: 15px;
    position: absolute;
    left: 2px;
    transform: rotate(45deg);
    width: 15px;
    @extend .transitionRegular;
  }
  &:before {
    border-width: 0px 3px 3px 0px;
    top: 0;
  }
  &:after {
    border-width: 3px 0px 0px 3px;
    top: 17px;
  }
  &:hover {
    &:before, &:after { border-color: $red; }
  }
}
.contactPart .fR .formFill { padding: 0 0 30px; }
.topCtct { background-color: #efefef; padding: 10px 0;
  small { padding: 0 5px; font-size: 100%; }
  span, a { color: $maroon; font-size: 12px; font-weight: 700;
    i { bottom: -2px; color: $maroon; font-size: 18px; padding-right: 10px; position: relative; }
  }
  a {
    &:hover { color: $red; }
  }
  ul {
    li { display: inline-block; padding: 0 8px; }
  }
}

@import "CSS:css/responsive";